/* Импорт стилей, шрифтов и иконок */
/* Сброс CSS */
@import url("https://marksheet.io/css/reset.css");




/* Базовые стили */
html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.button1 {
    text-decoration: none !important;
    color: white;
    background-color: red;
    height: 300%;
    width: 300%;
    border-radius: 5px;
}
.button1:hover {
    background-color: black;
    text-decoration: none;
}
.container {
    display: flex;
    width: 100%;
    max-width: 1200px; /*максимальная ширина может иметь другое значение*/
    padding: 0 15px;
    margin: 0 auto;
}
.button {
    height: 50px;
    /*width:100px;*/
}
.container {
    padding: 0 15px;
}
body {
    font-size: 14px;
}
h1 {
    font-size: 2.4em;
    padding: .8em 0 1.2em 0;
}
h2 {
    font-size: 2.2em;
    padding: .8em 0 1.0em 0;
}
h3 {
    font-size: 2.0em;
    padding: .8em 0 0.8em 0;
}
h4 {
    font-size: 1.8em;
    padding: .8em 0 0.6em 0;
}
h5 {
    font-size: 1.6em;
    padding: .8em 0 0.6em 0;
}
h5 {
    font-size: 1.4em;
    padding: .8em 0 0.6em 0;
}


/* Предустановки */
.row {
    display: flex;
    flex-direction: row;
}
.column {
    display: flex;
    flex-direction: column;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.b-right {
    border-right: 1px solid #e5e5e5;
}


/* Гибкая верстка */
.col-1 {
    flex: 1;
}
.col-1-1 {
    flex: 1;
    background-color: #F7F4F4;
}
.col-2 {
    flex: 2;
}
.col-3 {
    flex: 3;
}
.col-4 {
    flex: 4;
}
.col-5 {
    flex: 5;
}
.col-5-1 {
    flex: 5;
    background-color: #F7F4F4;
}
@media(max-width: 800px) {
    .container {
        flex-direction: column;
    }
}


/* Шапка сайта */
header {
    flex: 0 0 auto;
    height: 100px;
    justify-content: center;
    background-color: #F7F4F4;
}
header ul {
    text-align: center;
    background-color: black;
    justify-content: center;
    margin-top: 10px;
    height: 70px;
}
header ul li:hover {
    background-color: red;
    height: 70px;
    margin-bottom: 20px;
    text-decoration: none;
    text-decoration: underline;
}
header ul li {
    text-align: center;
    margin-right: 20px;
    margin-top: 30px;
    justify-content: center;
}


/* Основное содержимое */
.one {
    display: flex;
    flex: 1 0 auto;
    background-color: #F7F4F4;
}
.one .col-1 {
    background-color: #F7F4F4;
}
.one .col-2 {
    background-color: #F7F4F4;
}
.one aside {
    background-color: #F7F4F4;
}
.two {
    display: flex;
    flex: 1 0 auto;
    background-color: white;
}
.two img {
    height: 40px;
    width: 40px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.three {
    display: flex;
    flex: 1 0 auto;
    background-color: white;
}
.four {
    display: flex;
    flex: 1 0 auto;
    background-color: white;
    text-align: center;
}
.five {
    display: flex;
    flex: 1 0 auto;
    background-color: white;
}
.five ul {
    text-align: center;
    background-color: white;
    justify-content: center;
    margin-top: 10px;
    height: 70px;
    text-decoration: none;
    text-decoration: underline;
    color: black;
    margin-right: 20px;
}
ul li .all {
    color: blue;
}
.five ul li {
    text-decoration: none;
    text-decoration: underline;
    color: black;
    margin-right: 20px;
}
.five ul li:hover {
    color: blue;
    text-decoration: none;
    text-decoration: underline;
}
.six {
    display: flex;
    flex: 1 0 auto;
    background-color: white;
}
.six img {
    height: 50%;
    width: 50%;
}



/* Подвал сайта */
footer {
    flex: 0 0 auto;
    background-color: white;
    height: 50px;
    color: white;
}
footer > div.container {
    height: 100%;
    padding: 10px 0;
}
footer nav ul {
    margin-right: 30px;
}
header a,
footer a {
    color: white;
    text-decoration: none;
}
header a:hover,
footer a:hover {
    text-decoration: underline;
}
footer li {
    line-height: 2em;
}
footer .col-1 {
    background-color: black;
    height: 50px;
}
footer .col-5 {
    background-color: black;
    color: white;
    height: 50px;
}
footer a img {
    width: 30px;
    height: 30px;
    margin-top: 12px;
    margin-right: 8px;
}
